:root {
  font-family: Arial, Helvetica, sans-serif;
}


body {
  --white: #f9f9f9;
  --light-grey: #c8e4e7;
  --grey: grey;
  --green1: #2CCCD3;
  --green2: #21979c;
  --green3: #223C4A;
  --black: #0e1a21;
  --overlay: #03030348;

  --todo: #CFFDFF;
  --doing: #9CFAFF;
  --done: #2CCBD4;

  margin: 0;
  padding: 0;
  background-color: var(--black);
  position: relative;
}

/* video em background da página index (página inicial e de login) */
.video-container {
  z-index: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
/* overlay em verde para aproximar a cor do video com a palete de cores */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}

/* definicoes do painel de login */
.center-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0; /* Inicia com opacidade zero para a animação fadeIn */
  animation: fadeIn 1s ease-in-out 0.5s forwards; /* Adiciona nova animação para fadeIn após 3 segundos */
}

.loginpanel {
  z-index: 3;
  padding: 20px;
  font-size: 15px;
  text-align: center;

  color: var(--green3);
  background-color: color-mix(in srgb, var(--light-grey), transparent 20%);

  border-radius: 10px;
  height: 360px;
  width: 340px; /* Adjust the width as needed */
  margin-top: 20px; /* Adjust as needed */
}

#login {
  margin-bottom: 15px;
  margin-top: 20px;
  padding-left: 5px;
  width: 220px;
  height: 25px;
  border: var(--green3) 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#password {
  margin-bottom: 15px;
  padding-left: 5px;
  width: 220px;
  height: 25px;
  border: var(--green3) 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.loginpanel ::placeholder {
  color: var(--main-color);
}
.loginpanel input[type="text"] {
  color: var(--green3);
}
.loginpanel #loginButton {
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  width: 120px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.loginpanel #loginButton:hover {
  background-color: var(--green3);
  color: var(--green1);
}
#warningMessage {
  color: var(--light-grey);
  font-size: 12px;
  margin-top: 10px;
}

/* Animacao fade in para o container de login */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  width: auto;
  height: 80px;
  color: white;
  background-color: var(--green3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h1 {
  margin-left: 20px;
  font-size: 20px;
  color: var(--light-grey);
}
.username {
  color: var(--green1);
}

.username input {
  padding: 5px;
  width: 150px;
}
.username #login {
  color: var(--light-grey);
  font-weight: bold;
}
.logout-button {
  margin-right: 100px;
  background-color: var(--green3);
  color: var(--light-grey);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.logout-button img {
  width: 18px;
  height: 19px;
  margin-right: 8px;
}

/* Definicoes do link de logout no header (default, ja visitado, ao passar o rato e clicado) */
.logout-link {
  margin-right: 100px;
  color: var(--green2); /* Cor padrão */
}

.logout-link:visited {
  color: var(--green1); /* Cor após ser visitado */
}

.logout-link:hover {
  color: var(--light-grey); /* Cor ao passar o mouse por cima */
}

.logout-link:active {
  color: var(--white) /* Cor para o estado active */;
}

/* Definicoes do container que inclui o aside e o main */
.container {
  display: flex;
  justify-content: space-between;
}
.container.clock {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Definicioes da barra lateral aside*/
aside {
  max-width: 300px;
  height: 720px;
  float: left;
  background-color: var(--light-grey);
  text-align: center;
}

.logo img {
  padding-block: 25px;
  max-height: 150px; /* Define a altura máxima do logo */
  width: auto; /* Mantém a proporção */
}
aside h3 {
  text-align: center;
  color: var(--green3);
  text-transform: uppercase;
  font-size: 20px;
}
#taskName {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 170px;
  height: 30px;
  background-color: var(--white);
  font-size: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#taskDescription {
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  width: 170px;
  height: 200px;
  background-color: var(--white);
  font-size: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
#taskDescription:not(:focus) {
  border: var(--green3) 2px solid;
}
#taskDescription::placeholder {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 140px;
}
.task-buttons-home {
    display: flex;
    flex-direction: column;
  }
  .priority-buttons-home {
    justify-content: center;
    display: flex;
    gap: 8px; /* Espaçamento entre os botões */
  }
  .priority-button-home {
    --button-shadow-color: #c3c3c3;
    margin-top: 15px;
    width: 56px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 8px var(--button-shadow-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--grey);
    transition: box-shadow 0.3s ease;
  
    &:hover {
      --button-shadow-color: #808080;
      transition: box-shadow 0.3s ease;
    }
  }
  .priority-button-home {
    border-color: var(--black);
    color: var(--green3);
  }
  .priority-button-home.low {
    --grey: #a8db27;
  }
  .priority-button-home.medium {
    --grey: #ffd549;
  }
  .priority-button-home.high {
    --grey: #ff4a5a;
  }
  
  .priority-button-home:hover {
    background-color: color-mix(in srgb, var(--grey), white 25%);
    transition: background-color 0.3s ease;
  }
  .priority-button-home.selected {
    background-color: color-mix(in srgb, var(--grey), white 10%) !important;
    border-width: 2px !important;
    border-color: #97A7B0 !important;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.8s ease;
    transform: translateY(4px);
  }
#addTask {
  text-align: center;
  margin-top: 25px;
  width: 120px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--green2);
  color: var(--white);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
#addTask:hover {
  background-color: var(--green3);
  color: var(--green1);
}

/* Definicoes do painel main, onde estao as seccoes do Scrum (To do, Doing, Done)*/
main {
  width: calc(100% - 300px);
  padding-left: 30px;
  padding-right: 30px;
  height: 720px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.titulo-main {
  flex: 1;
}
.main-home {
  text-align: center;
  color: var(--green3);
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.panel {
  flex: 1;
  height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  background-color: var(--todo);
  border: 2px solid var(--green3);
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--green2) var(--white);
}

#panel2 {
  background-color: var(--doing);
  border: 2px solid var(--green3);
}
#panel3 {
  background-color: var(--done);
  border: 2px solid var(--green3);
}
/* Estilos para navegadores WebKit (Chrome, Safari) */
.panel::-webkit-scrollbar {
  width: 13px; /* largura da barra de rolagem */
}

.panel::-webkit-scrollbar-thumb {
  background-color: var(--green2); /* cor do indicador de rolagem */
  border-top-right-radius: 8px;
}

.panel::-webkit-scrollbar-track {
  background-color: var(--white); /* cor da trilha da rolagem */
  margin-right: 1px; /* afasta a barra de rolagem do lado direito em 1px */
  border-top-right-radius: 9px;
}
.panel::-webkit-scrollbar {
  height: calc(100% - 2px); /* altura da barra de rolagem */
  padding-right: 1px;
}

.task {
  position: relative;
  width: 190px;
  height: 50px; /* tamanho do espaço em que é inserido cada post-it (inclui espaçamento entre post-its) */
  margin-top: 20px;

  background-color: var(--grey);
  margin-top: 30px;
  margin-bottom: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.task .apagarButton {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.task:hover .apagarButton {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.task:hover {
  height: 190px;
  transition: all 0.5s ease-in-out;
}

.post-it-text {
  max-height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

.task:hover .post-it-text {
  max-height: 190px;
  transition: all 0.5s ease;
}

.task.low {
  --grey: #a8db27;
}
.task.medium {
  --grey: #ffd549;
}
.task.high {
  --grey: #ff4a5a;
}
.task.dragging {
  opacity: 0.5;
}
.task:hover {
  background-color: color-mix(in srgb, var(--grey), white 25%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  /*opacity: 0.9;*/
}
.modal {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  white-space: nowrap;
  background-color: rgb(0 0 0 / 80%);
  backdrop-filter: blur(5px);
  display: none;
  place-items: center;
  z-index: 1;
}

.modal-content {
  padding: 2rem 3rem;
  background-color: white;
  max-width: 25%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: all;
}
.modal button {
  text-align: center; /* Center the button */
  margin: 0 auto;
  width: 100px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: #2ccbd37e;
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.modal button:hover {
  background-color: var(--green3);
  color: var(--green1);
}

.modal p {
  text-align: center; /* Center the paragraph */
  grid-column: 1 / 3;
}
.display-date {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  -webkit-box-reflect: below 2px
  linear-gradient(transparent, rgba(255, 255, 255, 0.05));
  color: var(--light-grey);
}

.display-time {
  display: flex;
  margin-left: 0px;
  font-size: 1rem;
  font-weight: 600;
  transition: ease-in-out 0.1s;
  transition-property: background, box-shadow, color;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
  color: var(--light-grey);
}

.post-it h3 {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 13px;
}
.post-it {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.post-it p {
  text-align: left;
  font-size: 0.825rem;
  padding-inline: 13px;
  overflow: hidden;
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}

.apagarButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 17px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: ease-on 0.01s;
}
.apagarButton:hover {
  rotate: 360deg;
  transition: ease 0.01s;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}
div.panel {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  font-size: 15px;
  text-align: left;
  color: var(--green3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .panel {
    flex: none;
    width: calc(100% - 100px);
    margin: 20px auto;
  }
}

.main-task {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  background-image: url("multimedia/background_main_task.png"); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
  background-position: center; /* Centraliza a imagem na div */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .main-task {
    flex-direction: column;
  }
}
.detalhes-task {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}

.main-task #titulo-task {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 500px;
  height: 25px;
  padding: 20px;
  resize: none;
  margin-left: 80px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--light-grey);
  color: var(--green3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: var(--green3);
  border-width: 2px;
}

.main-task #descricao-task {
  margin-left: 80px;
  resize: none;
  width: 500px;
  height: 260px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: var(--light-grey);
  color: var(--green3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: var(--green3);
  border-width: 2px;
}
.main-task ::placeholder {
  /* placeholder do titulo e descricao para retirar */
  color: var(--green3);
}
.task-save {
  justify-content: center;
  margin-left: 80px;
  margin-top: 60px;
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
#save-button {
  width: 150px;
  height: 45px;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--grey);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#cancel-button {
  width: 150px;
  height: 45px;
  background-color: var(--light-grey);
  color: var(--black);
  border-color: var(--light-grey);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--grey);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.status-and-priority {
  margin-left: 100px;
  margin-top: 90px;
  width: 520px;
  height: 393px;
  background-color: color-mix(in srgb, var(--light-grey), transparent 41%);
  border: 2px solid var(--green3);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.task-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre as colunas */
}
.task-buttons #taskH4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: var(--green3);
}
/* comentário da pica */

.task-status .status-buttons,
.task-priority .priority-buttons {
  justify-content: center;
  padding-left: 40px;
  display: flex;
  gap: 40px; /* Espaçamento entre os botões */
}

.status-button,
.priority-button {
  --button-shadow-color: #c3c3c3;
  width: 100px;
  height: 45px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--button-shadow-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--grey);
  transition: box-shadow 0.3s ease;

  &:hover {
    --button-shadow-color: #808080;
    transition: box-shadow 0.3s ease;
  }
}

.status-button {
  border-color: var(--black);
  color: var(--green3);
}
.status-button.todo {
  --grey: var(--todo);
}
.status-button.doing {
  --grey: var(--doing);
}
.status-button.done {
  --grey: var(--done);
}
.status-button:hover {
  background-color: color-mix(in srgb, var(--grey), var(--black) 25%);
  transition: background-color 0.3s ease;
}

.priority-button {
  border-color: var(--black);
  color: var(--green3);
}
.priority-button.low {
  --grey: #a8db27;
}
.priority-button.medium {
  --grey: #ffd549;
}
.priority-button.high {
  --grey: #ff4a5a;
}
.priority-button:hover {
  background-color: color-mix(in srgb, var(--grey), white 25%);
  transition: background-color 0.3s ease;
}

.status-button.selected {
    background-color: color-mix(in srgb, var(--green3), grey 10%) !important;
    border-width: 2px !important;
    border-color: #97A7B0 !important;
    color: #8AD6FF !important;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.8s ease;
    transform: translateY(4px);
  }
.priority-button.selected {
  background-color: color-mix(in srgb, var(--grey), white 10%) !important;
  border-width: 2px !important;
  border-color: #97A7B0 !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.8s ease;
  transform: translateY(4px);
}

/* Definicoes do footer*/
footer {
  width: auto;
  padding: 20px 0;
  background-color: var(--black);
  color: var(--light-grey);
  text-align: center;
}

.footer-content {
  padding-top: 20px;
  font-size: 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px; /* Espaçamento entre as labels, ajuste conforme necessário */
  row-gap: 15px; /* Espaçamento entre as linhas, ajuste conforme necessário */
}
.label-left {
  text-align: right;
}
.label-right {
  text-align: left;
}

/* Divisoes da pagina home e task */
@media (max-width: 1024px) {
  body {
    background-color: #cccccc;
  }

  header,
  footer {
    width: 100%;
  }

  aside {
    width: 100%;
    float: none;
  }

  main {
    width: 100%;
    margin: 0;
  }
  @media (min-width: 768px) {
    body {
      background-color: #cccccc;
    }

    header,
    footer {
      width: 100%;
    }

    aside {
      width: 100%;
      float: none;
    }

    main {
      width: 100%;
      margin: 0;
    }
  }
}
