:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0E1A21;
}

/* video em background da página index (página inicial e de login) */
.video-container {
    z-index: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/* overlay em verde #21979c para aproximar a cor do video com a palete de cores */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 151, 156, 0.3);
}

/* Estilo do Welcome to Scrum */
#welcomeText {
    z-index: 1;
    position: absolute;
    top: calc(50% - 300px); /* Ajuste para 200px acima do centro vertical */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0; /* Inicia com tamanho zero para a animação */
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    animation: fadeInAndScale 2s ease-in-out 1.5s forwards;
}

/* Animacao fade in que expande o texto Welcome to Scrum */
@keyframes fadeInAndScale {
    from {
        opacity: 0;
        font-size: 0;
    }
    to {
        opacity: 1;
        font-size: 3em;
    }
}

/* definicoes do painel de login */
.center-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0; /* Inicia com opacidade zero para a animação fadeIn */
    animation: fadeIn 2s ease-in-out 3s forwards; /* Adiciona nova animação para fadeIn após 3 segundos */
}

.loginpanel {
    z-index: 3;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #223C4A;
    background-color: #c8e4e7b9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 360px;
    width: 300px; /* Adjust the width as needed */
    margin-top: 20px; /* Adjust as needed */
}
.loginpanel h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #21979c;
}

#login {
margin-bottom: 15px;
width: 200px;
height: 25px;
}

#password {
margin-bottom: 15px;
width: 200px;
height: 25px;
}
.loginpanel ::placeholder {
    color: #21979c;
}
.loginpanel input[type="text"] {
    color: #223C4A;
}
.loginpanel #loginButton {
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    width: 100px;
    height: 32px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: #21979c;
    color: #F4F5F7;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.loginpanel #loginButton:hover {
    background-color: #223C4A;
    color: #F4F5F7;
}
#warningMessage {
    color: #c8e4e7;
    font-size: 12px;
    margin-top: 10px;
}

/* Animacao fade in para o container de login */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #223C4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    margin-left: 20px;
    font-size: 20px;
}
.username {
    color: #f9f9f9;
}

.username input {
    padding: 5px;
    width: 150px;
}
/* Definicoes do link de logout no header (default, ja visitado, ao passar o rato e clicado) */
.logout-link {
    margin-right: 100px;
    color: #21979c; /* Cor padrão */
}

.logout-link:visited {
    color: #2CCCD3; /* Cor após ser visitado */
}

.logout-link:hover {
    color: #c8e4e7; /* Cor ao passar o mouse por cima */
}

.logout-link:active {
    color: #f9f9f9/* Cor para o estado active */;
}


/* Definicoes do container que inclui o aside e o main */
.container {
    display: flex;
    justify-content: space-between;
}

/* Definicioes da barra lateral aside*/
aside {
    max-width: 240px;
    height: 720px;
    float: left;
    background-color: #c8e4e7;
    text-align: center;
    }
    
    .logo img {
        margin-top: 75px;
        max-height: 150px; /* Define a altura máxima do logo */
        width: auto; /* Mantém a proporção */

    }
aside h3 { 
        text-align: center;
        color: #223C4A;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #taskName {
        margin-bottom: 10px;
        padding-left: 10px;
        width: 160px;
        height: 30px;
        background-color: #f9f9f9;
        font-size: 12px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    
    }
    #taskDescription    {
        padding-left: 10px;
        width: 160px;
        height: 200px;
        background-color: #f9f9f9;
        font-size: 12px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    
    }
    #taskDescription::placeholder {
        font-size: 12px;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 140px;
    }
    #addTask    {
        text-align: center;
        margin-top: 20px;
        padding-left: 10px;
        width: 100px;
        height: 32px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        background-color: #21979c;
        color: #F4F5F7;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
    }
    #addTask:hover {
        background-color: #223C4A;
        color: #F4F5F7;
    }


/* Definicoes do painel main, onde estao as seccoes do Scrum (To do, Doing, Done)*/
main {
    width: calc(100% - 200px);
    padding-left: 30px;
    padding-right: 30px;
    height: 720px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between; /* Add this to create space between panels */
    flex-wrap: wrap;
}
.titulo-main {
    flex: 1;
    text-align: center;
    color: #223C4A;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
}
.panel {
    flex: 1;
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: #c8e4e7;
    border: 2px solid #223C4A;
    overflow: auto;
}
#panel2 {
    background-color: #2ccbd37e;
    border: 2px solid #223C4A;
}
#panel3 {
    background-color: #21989c7e;
    border: 2px solid #223C4A;
}

.task {
    background-image: url('post-it.png');
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    height: 125px;
}
.task .dragging{
    opacity: 0.5;
}
.task h3 {
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 30px;
}
.apagarButton {
    padding-left: 65px;
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}
h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;

}
div.panel {
    padding: 20px;
    font-size: 15px;
    text-align: left;
    color: #223C4A;
}

/* Definicoes do footer*/
footer {
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color: #0E1A21;
}
footer h3 {
    margin: 0;
    font-size: 20px;
}



/* Definicoes gerais da pagina, para que possa ser adaptavel conforme a dimensao da janela */
@media (max-width: 1024px) {
    body {
        background-color: #cccccc;
    }

    header, footer {
        width: 100%;
    }

    aside {
        width: 100%;
        float: none;
    }

    main {
        width: 100%;
        margin: 0;
    }
}

